.container-Loading {
  height: 100vh;
  width: 100%;
  padding: 0 1rem;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: black;
}

.loading-img {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #a779ff;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 2;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}